/.idea/
/api/node_modules/
/app/node_modules/
/app/webpack-assets.json
/static/js/build/
!/static/js/build/.clear.sh
/.env
/node_modules/
/tmp/
!/tmp/package.json
!/tmp/package-lock.json
!/tmp/dotenv.js
!/tmp/mysql.js
/static/public
!/static/public/.gitkeep
/cron/node_modules/
