/.idea/
/.env
/node_modules/

# api
/api/node_modules/

# app
/app/node_modules/
/app/webpack-assets.json

# tmp
/tmp/
!/tmp/package.json
!/tmp/package-lock.json
!/tmp/dotenv.js
!/tmp/mysql.js

# static
/static/public/js/build/
/static/public/models/
/static/public/products/
!/static/public/js/build/.clear.sh

# cron
/cli/node_modules/
