server {
    charset utf-8;
    listen 80;
    server_name 192.168.0.105 static.amaranth.localhost;
    root /var/www/projects/amaranth/static/public;
    rewrite ^/(.+)/$ /$1 permanent;

    access_log off;

    location ~* \.(js|map)$ {
        gzip_static on;
    }
}
